
.header-section {
    top: 0;
    left: 0;
    padding: 20px 0;
    width: 100%;
    background-color: #0A2647;
}

.navbar {
    position: fixed;
}

.nav-link, .navbar-brand {
    color: #fff;
}

.section {
    padding: 2400px 0;
}